@media(min-width:768px) and (max-width:1024px){
    nav{
    width: 100%;
    height: 160px;
    background-color: rgb(35, 34, 34);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    label.show{
        display: none;
        width: 0px;
        height: 0px;
        }
    ul{
        width: inherit;
        height: inherit;
        list-style: none;
        text-align: center;
        label.hide{
            display: none;
            width: 0px;
            height: 0px;
        }
        li{
            width: auto;
            height: inherit;
            display: inline-block;
            margin-right: 30px;
            position: relative;
            top: 90px;
            left: auto;
            transition: all 500ms linear;
            a.second{
                width: inherit;
                height: inherit;
                display: block;
                text-decoration: none;
                line-height: 70px;
                font-size: 16px;
                color: gray;
                text-transform: capitalize;
                transition: all 100ms linear;
            }
            a.first{
                width: inherit;
                height: inherit;
                display: block;
                text-decoration: none;
                line-height: 90px;
                font-size: 16px;
                color: white;
                text-transform:capitalize;
                transition: all 100ms linear;
            }
        }
    }
}
nav>ul>li>a.second:hover{
    color: white;
}
nav>ul>li>ul.submenu{
    padding: 5px;
    position: absolute;
    left: -25px;
    top: -45px;
    list-style: none;
    display: none;
    li{
        width: 170px;
        height: 50px;
        background-color: rgb(43, 43, 43);
        margin-top: 0px;
        text-align: left;
        a{
            width: inherit;
            height: inherit;
            text-decoration: none;
            display: block;
            color: gray;
            font-size: 16px;
            line-height: 30px;
            margin-left: 20px;
            margin-top: 10px;
            transition: all 100ms linear;
        }
    }
}
[type=radio]{
    display: none;
}
[id=show]:checked ~ ul{
    display: block;
}
nav>ul>li:hover>ul.submenu{
    display: block;
}
nav>ul>li>ul.submenu>li:hover>a{
    color: white;
}
section.lego{
    width: 200px;
    height: 100px;
    background-color: aqua;
    background: url(../picture/golestan-logo.png) no-repeat;
    position: absolute;
    left: 40%;
    top: 10px;
}
section.tea{
    background: linear-gradient(to top,rgb(201, 200, 200),white);
    width: 100%;
    height: 590px;
    overflow: hidden;
}
section.tea>section.image{
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 25%;
    right: 18%;
    background: url(../picture/tea-pic1-1.png) no-repeat;
    background-size: cover;
}
section.tea>section.text{
    width: 300px;
    height: 350px;
    position: absolute;
    bottom: 20%;
    left: 10%;
}
section.tea>section.text>h1{
    font-size: 30px;
    margin-top: 20px;
    color: red;
}
section.tea>section.text>h2{
    display: none;
    width: 0px;
    height: 0px;
}
section.tea>section.text>h3{
    font-size: 18px;
    margin-top: 20px;
    line-height: 35px;
    color: gray;
}
section.tea>section.text>section.button{
    width:120px;
    height: 40px;
    background-color: white ;
    border-radius: 10px;
    color: gray;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
    transition: all 400ms linear;
    margin: 30px 2px;
    font-size: 16px;
    border: 0.5px solid rgb(180, 179, 179);
}
section.tea>section.text>section.button:hover{
    background-color: red;
    color: white;
}
section.line__under{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    background-color: rgb(180, 179, 179);
}
section.line__under2{
    width: 100%;
    height: 2px;
    margin-top: 20px;
    background-color: rgb(180, 179, 179);
}
section.about__g{
    width: 100%;
    height: 700px;
    section.text__b{
        width: 620px;
        height: 300px;
        margin-top: 40px;
        margin-left: 15%;
        h1{
           color: red;
           font-size: 20px;
        }
        h2{
           color: grey;
           margin-top:30px;
           font-size: 18px;
           line-height: 35px;
       }
    }
}
section.image__b{
    width: 740px;
    height: 300px;
    position: relative;
    left: 9%;
    top: 20px;
    padding: 10px;
    .image__first{
        width: 185px;
        height: inherit;
        position: absolute;
        left: 0px;
        .a{
            width: 165px;
            height: 165px;
            background: url(../picture/statistics-icon-4.png) no-repeat;
            background-size: cover;
        }
        .b{
            margin-top: 5px;
            text-align: center;
            width: 165px;
            h1{
                font-size: 18px;
                color: gray;
            }
        }
        .c{
            margin-top: 10px;
            width: 90%;
            height: 1px;
            background-color: gray;
        }
    }
    .image__second{
        width: 185px;
        height: inherit;
        position: absolute;
        left: 185px;
        .a{
            width: 165px;
            height: 165px;
            background: url(../picture/statistics-icon-3.png) no-repeat;
            background-size: cover;
        }
        .b{
            margin-top: 5px;
            text-align: center;
            width: 165px;
            h1{
                font-size: 18px;
                color: gray;
            }
        }
        .c{
            margin-top: 10px;
            width:90%;
            height: 1px;
            background-color: gray;
        }
    }
    .image__third{
        width: 185px;
        height: inherit;
        position: absolute;
        left: 370px;
        .a{
            width: 165px;
            height: 165px;
            background: url(../picture/statistics-icon-2.png) no-repeat;
            background-size: cover;
        }
        .b{
            margin-top: 5px;
            text-align: center;
            width: 165px;
            h1{
                font-size: 18px;
                color: gray;
            }
        }
        .c{
            margin-top: 10px;
            width: 90%;
            height: 1px;
            background-color: gray;
        }
    }
    .image__forth{
        width: 185px;
        height: inherit;
        position: absolute;
        left: 560px;
        .a{
            width: 165px;
            height: 165px;
            background: url(../picture/statistics-icon-1.png) no-repeat;
            background-size: cover;
        }
        .b{
            margin-top: 5px;
            text-align: center;
            width: 165px;
            h1{
                font-size: 18px;
                color: gray;
            }
        }
        .c{
            margin-top: 10px;
            width: 90%;
            height: 1px;
            background-color: gray;
        }
    }
}
section.rice{
    width: 100%;
    height: 560px;
    background-color: wheat;
    margin-top: 20px;
    position: relative;
    margin-bottom: 40px;
    .image__c{
        width: inherit;
        height: 540px;
        background:url(../picture/image2-new-1.jpg) no-repeat center;
        background-size:cover;
    }
    .text__c{
        width: 220px;
        height: 90px;
        background-color: red;
        color: white;
        text-align: left;
        line-height: 40px;
        font-size: 30px;
        padding: 20px;
        position: absolute;
        bottom: -17px;
        left:20%;
    }
}
section.text__d{
    width:100%;
    height: 350px;
    position: relative;
    display: block;
    .text__rice{
        width:600px;
        height: 300px;
        position: absolute;
        top: 20px;
        left: 15%;
        h1{
            margin-top: 10px;
            color: red;
            font-size: 20px;
        }
        h2{
            margin-top: 10px;
            font-size: 18px;
            line-height: 30px;
            color: gray;

        }
        .button{
            width:120px;
            height: 40px;
            background-color: white ;
            border-radius: 10px;
            color: gray;
            text-align: center;
            display: inline-block;
            line-height: 40px;
            cursor: pointer;
            transition: all 400ms linear;
            margin: 30px 2px;
            font-size: 16px;
            border: 0.5px solid rgb(180, 179, 179);
        }
    }
}
section.text__d>.text__rice>.button:hover{
    background-color: red;
    color: white;
}
section.tea__a{
    width: 100%;
    height: 520px;
    background-color: wheat;
    position: relative;
    margin-bottom: 40px;
    .image__d{
        width: inherit;
        height: 500px;
        background:url(../picture/image3-new.jpg) no-repeat center;
        background-size: cover;
    }
    .text__e{
        width: 220px;
        height: 90px;
        background-color: red;
        color: white;
        text-align: left;
        line-height: 40px;
        font-size: 30px;
        padding: 20px;
        position: absolute;
        bottom: -17px;
        left:20%;
    }
}
section.text__f{
    width:100%;
    height: 350px;
    position: relative;
    display: block;
    .text__tea{
        width:600px;
        height: 300px;
        position: absolute;
        top: 20px;
        left: 15%;
        h1{
            margin-top: 10px;
            color: red;
            font-size: 20px;
        }
        h2{
            margin-top: 10px;
            font-size: 18px;
            line-height: 30px;
            color: gray;

        }
        .button{
            width:120px;
            height: 40px;
            background-color: white ;
            border-radius: 10px;
            color: gray;
            text-align: center;
            display: inline-block;
            line-height: 40px;
            cursor: pointer;
            transition: all 400ms linear;
            margin: 30px 2px;
            font-size: 16px;
            border: 0.5px solid rgb(180, 179, 179);
        }
    }
}
section.text__f>.text__tea>.button:hover{
    background-color: red;
    color: white;
}
section.pistachios{
    width: 100%;
    height: 520px;
    background-color: wheat;
    position: relative;
    margin-bottom: 40px;
    .image__e{
        width: inherit;
        height: 500px;
        background:url(../picture/image4-new.jpg) no-repeat center;
        background-size: cover;
    }
    .text__g{
        width: 220px;
        height: 90px;
        background-color: red;
        color: white;
        text-align: left;
        line-height: 40px;
        font-size: 30px;
        padding: 20px;
        position: absolute;
        bottom: -17px;
        left:20%;
    }
}
section.text__h{
    width:100%;
    height: 450px;
    position: relative;
    display: block;
    .text__pistachios{
        width:600px;
        height: 300px;
        position: absolute;
        top: 20px;
        left: 15%;
        h1{
            margin-top: 10px;
            color: red;
            font-size: 20px;
        }
        h2{
            margin-top: 10px;
            font-size: 18px;
            line-height: 28px;
            color: gray;

        }
        .button{
            width:120px;
            height: 40px;
            background-color: white ;
            border-radius: 10px;
            color: gray;
            text-align: center;
            display: inline-block;
            line-height: 40px;
            cursor: pointer;
            transition: all 400ms linear;
            margin: 30px 2px;
            font-size: 16px;
            border: 0.5px solid rgb(180, 179, 179);
        }
    }
}
section.text__h>.text__pistachios>.button:hover{
    background-color: red;
    color: white;
}
section.building{
    width: 100%;
    height: 600px;
    background-color: wheat;
    margin-bottom: 110px;
    .building__a{
        width: inherit;
        height: 580px;
        background-color: rgb(21, 73, 78);
        position: relative;
        .building__first{
            width: 550px;
            height: 80px;
            position: absolute;
            left: 30%;
            top: 38%;
            text-align: left;
            h1{
                font-size: 30px;
                display: inline-block;
                color: rgb(57, 126, 130);
            }
            h2{
                margin-left: 5px;
                font-size: 20px;
                display: inline-block;
                color: aqua;
            }
        }
        .building__second{
            width: 100%;
            height: 1px;
            background-color: rgb(57, 126, 130);
            position: absolute;
            top: 50%;
        }
        .building__third{
            width: 400px;
            height: 350px;
            background-color: salmon;
            background: url(../picture/csr-pic1.jpg) no-repeat;
            background-size: cover;
            position: absolute;
            bottom: -80px;
            left: 30%;
            box-shadow: -2px 2px 6px rgb(81, 81, 81) ;
        }
    }

}
section.building__text{
    width:100%;
    height: 450px;
    position: relative;
    display: block;
    .building__b{
        width:600px;
        height: 300px;
        position: absolute;
        top: 20px;
        left: 15%;
        h1{
            margin-top: 10px;
            color: red;
            font-size: 20px;
        }
        h2{
            margin-top: 10px;
            font-size: 18px;
            line-height: 30px;
            color: gray;

        }
        .button{
            width:120px;
            height: 40px;
            background-color: white ;
            border-radius: 10px;
            color: gray;
            text-align: center;
            display: inline-block;
            line-height: 40px;
            cursor: pointer;
            transition: all 400ms linear;
            margin: 30px 2px;
            font-size: 16px;
            border: 0.5px solid rgb(180, 179, 179);
        }
    }
}
section.building__text>.building__b>.button:hover{
    color: white;
    background-color: red;
}
section.red__line{
    width: 100%;
    height: 30px;
    background-color: red;
}
footer{
    width: 100%;
    height: 470px;
    background-color: rgb(27, 26, 26);
    position: relative;
     overflow: hidden;
    .footer__a{
        width: 660px;
        height: 280px;
        position: relative;
        left: 10%;
        top: 50px;
        .F__first{
            width: 150px;
            height: inherit;
            position: absolute;
            top: 0px;
            left: 0px;
            .f__a{
                width: inherit;
                height: 100px;
                background-color: black;
                background: url(../picture/footer-icon2.png) no-repeat center top;
            }
            .line__F{
                width: 100%;
                height: 1px;
                background-color: white;
            }
            .f__b{
                width: inherit;
                height: 30px;
                text-align: center;
                h1{
                    font-size: 16px;
                    color: white;
                    line-height: 30px;
                }
            }
            .f__c{
                margin-top: 35px;
                width: inherit;
                height: 110px;
                text-align: left;
                line-height: 20px;
                a{
                    font-size: 14px;
                    text-decoration: none;
                    color: gray;
                    display: block;
                }
            }
        }
        .F__second{
            width: 150px;
            height: inherit;
            position: absolute;
            top: 0px;
            left: 190px;
            .s__a{
                width: inherit;
                height: 100px;
                background-color: black;
                background: url(../picture/footer-icon3.png) no-repeat center top;
            }
            .line__F{
                width: 100%;
                height: 1px;
                background-color: white;
            }
            .s__b{
                width: inherit;
                height: 30px;
                text-align: center;
                h1{
                    font-size: 16px;
                    color: white;
                    line-height: 30px;
                }
            }
            .s__c{
                margin-top: 35px;
                width: inherit;
                height: 110px;
                text-align: left;
                line-height: 20px;
                a{
                    font-size: 14px;
                    text-decoration: none;
                    color: gray;
                    display: block;
                }
            }
        }
        .F__third{
            width: 150px;
            height: inherit;
            position: absolute;
            top: 0px;
            left:380px;
            .th__a{
                width: inherit;
                height: 100px;
                background-color: black;
                background: url(../picture/footer-icon4.png) no-repeat center top;
            }
            .line__F{
                width: 100%;
                height: 1px;
                background-color: white;
            }
            .th__b{
                width: inherit;
                height: 30px;
                text-align: center;
                h1{
                    font-size: 16px;
                    color: white;
                    line-height: 30px;
                }
            }
            .th__c{
                margin-top: 35px;
                width: inherit;
                height: 110px;
                text-align: left;
                line-height: 20px;
                a{
                    font-size: 14px;
                    text-decoration: none;
                    color: gray;
                    display: block;
                }
            }
        }
        .F__forth{
            width: 150px;
            height: inherit;
            position: absolute;
            top: 0px;
            left: 570px;
            .fo__a{
                width: inherit;
                height: 100px;
                background-color: black;
                background: url(../picture/footer-icon1.png) no-repeat center top;
            }
            .line__F{
                width: 100%;
                height: 1px;
                background-color: white;
            }
            .fo__b{
                width: inherit;
                height: 30px;
                text-align: center;
                h1{
                    font-size: 16px;
                    color: white;
                    line-height: 30px;
                }
            }
            .fo__c{
                margin-top: 35px;
                width: inherit;
                height: 110px;
                text-align: left;
                line-height: 20px;
                a{
                    font-size: 14px;
                    text-decoration: none;
                    color: gray;
                    display: block;
                }
            }
        }
    }
}
}
footer>section.footer__a>section.F__first>section.f__c>a:hover{
    color:white
}
footer>section.footer__a>section.F__second>section.s__c>a:hover{
    color:white
}
footer>section.footer__a>section.F__third>section.th__c>a:hover{
    color:white
}
footer>section.footer__a>section.F__forth>section.fo__c>a:hover{
    color:white
}